
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   margin: 0;
  font-family: sans-serif;
  background-image:url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  
}

h1{
  color:  deepskyblue;
  text-align: center;
}

.center{
  text-align: center;
  justify-content: center;
}


.form-register{

  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 30px 30px 30px 30px;
  background: white;
  border-radius: 7px;

  margin-top: 10px;

}

.form-titulo{ 
  color:  #0077b6;
  text-align: center;

}


.contenedor-inputs {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;

}

.contenedor-inputs1 {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;

}

label{
  color:  #0077b6;
  font-size: 15px; 
  

}



input ,textarea  {
  margin-bottom: 10px;
  padding:10px;
  width: 95%;
  border-radius: 7px;
  border: 1px solid darkgray;
}

textarea{
  width: 100%;
  resize: none;
  height: 100px;
}

.btn-enviar{
    background:  #0077b6;
    color: #fff;
    width: 100%;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    margin-top: 15px;
}

.btn-enviar{
  transform: scale(1.05);
}

.form_link{
  width: 100%;
  margin: 7;
  font-size: 14px;
  text-align: center;
}



@media only screen and (max-width: 400px){

  .form-register{
    width: 80%;
  }

  .capcha{
    border: 5px solid darkblue;
    height: 5%;
    width:5%;
  }

  .gwd-reCAPTCHA_2   {
    transform: scale(0.75);
    transform-origin: 0 0;
   }

   .btn-enviar{
     font-size: 12px;
     padding-left: 20px;
   }

   .button {
    padding: 8px 12px;
    font-size: 12px;
  }


  .button-delete{
		font-size:7px;
	}

  .button-Cont{
		font-size:5px;
    width: 200%;
	}

  .buttonInfo{
		font-size:5px;
    	
	  }
	  
  
}

@media  screen and (max-width: 206px){
 
  .gwd-reCAPTCHA_2   {
    transform: scale(0.68);
    transform-origin: 0 0;
   }
  
}
