


.button {
	background:rgb(233, 7, 7); /* Green */
	border: none;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 10px;
  }


  .buttonInfo{
	background:rgb(7, 146, 233); 
  }

  .disabled {
    cursor: not-allowed;
    pointer-events: none;
}


  .logout{
	background:rgb(239, 241, 243); 
	width: 7%;
	font-size: 20px;
	color: #00529b;
	text-align: center;
	height:80%;
  }

.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
  display: none;
}

.content-select{
	max-width: 300px;
	position: relative;
}
 
.content-select select{
   width: 100%;
	 cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
   
    transition: all 0.25s ease;
}

.content-select:hover i{
	margin-top: 3px;
} 


.select-dis{
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: center;
	
}

.select-center{
	padding-left: 20px;
}


.spanFilter{
	
  margin-left: 40%;
  margin-right: 35%;
  margin-top: 20px;
  font-size: 30px;
}

.spanMsgInfo{
   background-color: #e0e0e0;
   height: 50px;
   padding-top: 13px;
   padding-left: 15px;
}



fieldset {

	width: 80%;
	background-color: #809db7;
	margin-left:10%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-bottom: 8%;
  }

  /*
  
 
    margin-top
    margin-right
    margin-bottom
    margin-left

  */
  
  legend {
	background-color:#ada8a8;
	color: white;
	padding: 5px 10px;
  }


  @media only screen and (max-width:800px){

	.logout{
		width: 10%;
		font-size: 15px;
		height:40%;
		padding: 5px 5px;
	  }
  }
  


  @media only screen and (max-width:500px){

	
	.spanMsgInfo{
		padding-top: 12px;
		font-size:15px;
	}
	.spanFilter{
		margin-left: 35%;
		margin-right: 20%;
	  }
	.logout{
		width: 18%;
		font-size: 16px;
		height:60%;
		padding-top: 12px;
	}

	.select-dis{
		display: block;
		width: 100%;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		font-size: 12px;
	  }
	 
	  
  }

  @media only screen and (max-width:380px){

	.logout{
		font-size: 12px;
	}

	.spanFilter{
		font-size:15px;
	}

	
	
  }



  